<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://scng-api.thebartdev.com/assets/css/fontawesome-all.css" rel="stylesheet">
    <link href="https://scng-api.thebartdev.com/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="https://scng-api.thebartdev.com/assets/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="https://scng-api.thebartdev.com/assets/images/logo/scng.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">


<!-- Footer -->
<div class="footer" style="padding: 0">
    <!-- Details 1 -->
    <div id="details" style="padding: 50px">

        <div class="container">

            <!-- Image Logo -->
            <div style="align-items: center; margin: 20px">
                <a class="navbar-brand logo-image" href="/"><img style="height: 50px"
                                                                 src="https://scng-api.thebartdev.com/assets/images/scng-with-title.png"
                                                                 alt="alternative"></a>
            </div>

            <div style="text-align: left; margin: 50px 20px;"
                 class="text-container details-content align-vertical-middle">
                <h3>{{title}}</h3>
                <p>{{text}}</p>
            </div> <!-- end of text-container -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 1 -->

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-col middle">
                    <h4>Povezave</h4>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a class="turquoise" style="text-decoration: none"
                                                       href="https://scng-api.thebartdev.com">Spletna stran</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a class="turquoise" style="text-decoration: none"
                                                       href="https://github.com/bartolomej/scng-mobile">Mobilna
                                aplikacija</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a class="turquoise" style="text-decoration: none"
                                                       href="https://github.com/bartolomej/scng-api">Strezniska
                                aplikacija</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><a class="turquoise" style="text-decoration: none"
                                                       href="https://scng-api.thebartdev.com/contribute">Sodeluj</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> <!-- end of col -->

            <div id="contact" class="col-md-4">
                <div class="footer-col last">
                    <h4>Socialni kanali</h4>
                    <span class="fa-stack">
                            <a href="https://scng-app.slack.com/">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-slack fa-stack-1x"></i>
                            </a>
                    </span>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->

</body>
</html>
